#projetos {
  padding: 2rem 2rem;
  text-align: center;
  background-color: var(--background-color);
}

#projetos h2 {
  font-size: 10rem;
  color: var(--primary-neon);
  margin-bottom: 5rem;
  margin-top: 0.9em;
}

.carousel-container {
  max-width: 90%;
  margin: 0 auto;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 7rem;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: 30em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.carousel-item h3 {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1em;
}

.carousel-item h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.carousel-item p {
  font-size: 1.2rem;
  color: var(--light-color);
}
